#crouselItem{
    height: 250px;
}
.carousel-inner{
    height: 550px;
}
.nav-item{
    padding-right: 20px;
}
.navbar-brand{
    padding-left: 20px;
}
.services{
    text-align: center;
}
.gridServices{
    border: 2px solid black;
    padding: 2px;
}
.industtriesexperties{
    background-color: black;
}
.industtriesexperties *{
    color: white;
}
.Allfooter *{
    color: black;

}
.ourlocation{
    padding-left: 20px;
}
.quickLinks{
    list-style-type: none;
}
.quickLinks a{
    text-decoration: none;
    color: black;
}
.linksArrow{
    color: green;
    font-weight: bolder;
}

.firstFooter{
    padding-top: 20px;
}
.fa-brands{
    font-size: xx-large;
    padding: 10px;
    color: green;
}
.firstFooter{
    background-color:rgb(192, 177, 177);
}
.secondFooter{
    background-color:rgb(190, 187, 187);
}
.thirdFooter{
    background-color:darkgrey;
  
}
a{
    text-decoration: none;
}
.mapsAndForm{
    padding-left: 20px;
}

.map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  .Allfooter{
    padding-top: 20px;
  }
  ul.whyUsListHeadings li{
font-weight: bolder;

  }
  ul.whyUsListHeadings p{
    font-weight: 400;
  }
  .categweBeliveIn{
    border: 3px solid black;
  }
  .hwToWrkUs{
    padding: 40px;
  }

