body {
  font-family: "Nunito";
}
* {
  scroll-behavior: smooth;
}
.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.text-uppercase {
  letter-spacing: 0.08em;
}

@media only screen and (min-width: 600px) {
  .HeaderText {
    padding-top: 20%;
    padding-right: 3%;
  }
}
@media only screen and (max-width: 400px) {
  .HeaderText {
    padding-top: 20%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media only screen and (min-width: 600px) {
  .aboutUsLeftIMG {
    padding-top: 20%;
    padding-right: 15%;
  }
}
@media only screen and (max-width: 400px) {
  .aboutUsLeftIMG {
    padding-top: 20%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

#scrollToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -8rem;
  transition: margin-bottom 1s;
}

#scrollToTop.active {
  margin-bottom: 0;
}
#scrollToTop:hover {
  cursor: pointer;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  to {
    transform: rotate(2520deg);
  }
}

@media only screen and (min-width: 537px) {
  .wholeBody {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .wholeBody {
    padding-top: 50px;
  }
}
/* @media only screen and (min-width: 600px) {
  .wholeBody {
    padding-top: 10%;
  }
} */
.nav-item a:hover {
  transform: scale(1.2);
}

.navbar {
  top: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 12px -2px #c5eecc;
  opacity: 0.9;
  overflow: hidden;
}

.nav-item {
  padding-right: 20px;
}
.navbar-brand {
  padding-left: 20px;
}
.nav-link {
  color: black;
  font-weight: 500;
}
.services {
  text-align: center;
}

.industtriesexperties {
  background-color: rgb(229, 250, 249);
}
.industtriesexperties * {
  color: #324146;
}

.ourlocation {
  padding-left: 10px;
}
.ourlocation h5 {
  color: #011945;
  text-align: center;
}
.ourlocation p {
  text-align: center;
}
.ourlocation img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.quickLinks {
  list-style-type: none;
}
.quickLinks a {
  text-decoration: none;
  color: #011945;
  width: fit-content;
}
.OurServicesLink{
   text-decoration: none;
  color: #011945;
  width: fit-content;}
.quickLinks a:hover {
  color: #2cf100;
  cursor: pointer;
  font-weight: 500;
}
.linksArrow {
  color: green;
  font-weight: bolder;
}

.firstFooter {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.fa-brands {
  font-size: xx-large;
  padding: 10px;
  color: green;
}
.navbar-custom {
  background-color: aliceblue;
}
.usefullLinks{
  
  text-align: justify;
  text-justify: inter-word;
}
.usefullLinks a {
  padding-left: 45px;
}
.usefullLinks hr {
  width: 200px;
}

.firstFooter {
  background-color: rgb(233, 240, 238);
}
.firstFooter p {
  /* color: black; */
  color: #011945;
}
.firstFooter a li {
  color: white;
  width: fit-content;
}
.firstFooter h3 {
  /* color: #28c23e; */
  color: #011945;
  font-weight: 500;
  padding-left: 30px;
}
.secondFooter {
  background-color: #011945;
}
.secondFooter p {
  color: white;
}

a {
  text-decoration: none;
}
.mapsAndForm {
  padding-left: 20px;
}

.map-container-3 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-3 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.Allfooter {
  padding-top: 20px;
}

ul.whyUsListHeadings li {
  font-weight: bolder;
}
ul.whyUsListHeadings p {
  font-weight: 400;
}

.fxdPrice {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
}
.ddctdTeams {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
}
.FAQS {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-bottom: 10px;
}
.bxLogo {
  height: 70px;
  width: 100px;
  display: block;
  max-width: 100px;
}
.activee,
.btn:hover {
  background-color: #666;
  color: rgb(134, 5, 5);
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: calc(-1 * var(--bs-gutter-y)); */
  /* margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x)); */
}

.fa-brands:hover {
  transform: scale(1.08) rotate(-1deg);
}
.copyrightCol {
  display: block;
  padding-top: 20px;
}
.socialIconsCol {
  display: block;
  padding-top: 5px;
}

/* Common Form Styles */
.atchFileIcon:hover {
  cursor: pointer;
}

/* CONTACT US NEW : START*/
.mapsAndForm {
  background-color: rgb(233, 240, 238);
  padding: 10px;
  padding-right: 20px;
}
.contactForm {
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

.contacttLeft {
  background-color: #011945;
  height: 80vh;
}

@media only screen and (min-width: 600px) {
  .contacttLeft {
    height: 80vh;
  }
}
@media only screen and (max-width: 600px) {
  .contacttLeft {
    height: 60vh;
  }
}

.contacttLeft * {
  color: white;
}

@media only screen and (min-width: 600px) {
  .leftcontactData {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 600px) {
  .leftcontactData {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (min-width: 600px) {
  form {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 600px) {
  form {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.contacttRight {
  padding-left: 30px;
  background-color: white;
  color: #28c23e;
}
.contacttRight h1 {
  padding-top: 20px;
}
#btnSubmit {
  
  border-radius: 5px;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset,
    rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px,
    rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px,
    rgb(44 187 99 / 15%) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btnSubmit:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.02) rotate(-0.5deg);
  background-color: white;
  color: black;
  border: 1px solid #28c23e;
}

/* CONTACT US NEW : END*/

#scrollToTop {
  box-shadow: 0px 0px 0px 2px rgba(8, 208, 31, 0.439),
    0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}
