#crouselItem{
    height: 250px;
}
.carousel-inner{
    height: 550px;
}
.nav-item{
    padding-right: 20px;
}
.navbar-brand{
    padding-left: 20px;
}
.services{
    text-align: center;
}
.gridServices{
    border: 2px solid black;
    padding: 2px;
}
.industtriesexperties{
    background-color: black;
}
.industtriesexperties h1,h5, p{
    color: white;
}
.Allfooter p,h1,h2,h3,h4{
    color: black;

}
.ourlocation{
    padding-left: 20px;
}
.quickLinks{
    list-style-type: none;
}
.quickLinks a{
    text-decoration: none;
    color: black;
}
.linksArrow{
    color: green;
    font-weight: bolder;
}

.firstFooter{
    padding-top: 20px;
}
.fa-brands{
    font-size: xx-large;
    padding: 10px;
    color: green;
}
.firstFooter{
    background-color:rgb(192, 177, 177);
}
.secondFooter{
    background-color:rgb(190, 187, 187);
}
.thirdFooter{
    background-color:darkgrey;
  
}
a{
    text-decoration: none;
}
