
.HeaderservicesDetials{
  background: rgb(223, 202, 202) url(../images/indexBannerBG.png) no-repeat  center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.indexHeaderimg img
{
  padding-top: 20%;
  padding-left: 5%;
}

.indexRightIMG{
  height: 100%;
  max-width: 500px;
  width: 100%;
  height: auto;
}
.HeaderText p{
  font-size: 24px;
  font-weight: 300;

}



.HeaderText h1{
  color: #135382;
  font-weight: bolder;
}



.HeaderText h1, .HeaderText p {
  animation: 1s ease-out 0s 1 slideInLeft;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}




.ServiceHeadingText h1 {
  color: #28c23e;
}
.serviceDetailConainer {
  background-color: rgb(229, 250, 249);
  padding: 10px;
}
.serviceDetailConainer * {
  color: black;
}
.serviceDetailConainer h2
{
  color: #28c23e;
}
.serviceDetailConainer span {
  line-height: 42px;
  font-size: 30px;
}
.techStack h1{
  color: #28c23e;
padding-bottom: 10px;
padding-top: 10px;}
.serviceDetailConainer p {
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  text-justify: inter-word;
}
.gridServices img {
  height: 50px;
  width: 50px;
  color: #28c23e;
}
.gridServices h3 {
  padding-top: 10px;
  font-size: large;
  font-weight: 800;
}
.gridServices {
  display: block;
  background-color: #fdfdfd;

  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}
.gridServices * {
  color: black;
}

/*Development Process:Start*/
.developmentHeadingText h1 {
  font-weight: bolder;
}
.developmentGrids ul {
  list-style: none;
}
/*Development Process:End*/

/*Tech Stack Process:Start*/

.techStack {
  padding: 10px;
  margin: 10px;
}
.techStockOne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.techStockOne h6 {
  margin: 0;
  padding: 0;
}
.techStockOne a {
  line-height: -1px;
}
.techStockOne h6:hover {
  color: #28c23e;
  cursor: pointer;
}
.h6Active {
  color: #28c23e;
  font-size: large;
}
.techStockOneCategActive {
  color: #28c23e;
  font-weight: bold;
}
.techStockOne hr {
  border: 1px solid;
  height: 0px;
  color: #28c23e;
}
.techStockTwo img {
  height: 65px;
  width: 65px;
}

.techStockTwo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-bottom: 10px;
  cursor: pointer;
}

.techStockTwo img:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ourServiceElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  padding: 12px;
  margin-left: 30px;
  margin-top: 10px;
}

/*Tech Stack Process:End*/

/*Read To Discuss : START*/
.readyToDiscuss h1 {
  padding: 5px;
}
.readyToDiscuss {
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #00b5f1;
}
.word {
  margin: auto;
  color: white;
  font: 500 normal 2.5em;
}
@media only screen and (min-width: 600px) {
  .readyToDiscussCol1 {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .readyToDiscussCol1 {
    padding-top: 50px;
  }
}

.readyToDiscImage {
  width: 100%;
  height: auto;
  padding-right: 40px;
}

#btnGetIntouch {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 38px;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  
}

#btnGetIntouch:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
#btnGetIntouch:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

/*Read To Discuss : END*/

/*BackDrop : START*/
#backdrop.visible {
  display: block;
  pointer-events: all;
}
#backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 18vh;
  bottom: 10vh;
  left: 8%;
  width: 80%;
  z-index: 100;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  animation: float-in 0.9s ease-out forwards;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
 
}

.btnModalSubmit {
  background-color: transparent;
  font: inherit;
  border: 1px solid;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  float: right;
}
.btnModalSubmit:hover {
  transition: transform 0.2s;
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 2px 2px 12px rgb(8 208 31 / 44%);
}
.modaltLeft {
  background-color: #011945;
  height: 80vh;
}

@media only screen and (min-width: 600px) {
  .modaltLeft {
    height: 80vh;
  }
}
@media only screen and (max-width: 600px) {
  .modaltLeft {
    height: 60vh;
  }
}

.modaltLeft * {
  color: white;
}

@media only screen and (min-width: 600px) {
  .leftModalData {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 600px) {
  .leftModalData {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (min-width: 600px) {
  form {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 600px) {
  form {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.modaltRight {
  padding-left: 30px;
  background-color: #f9fafb;
}
.modaltRight h1 {
  padding-top: 20px;
}
/*BackDrop : End*/


/*Paginatio: Start*/
.pagination-container {
  width: calc(50% - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #0085b6;
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}
.hidden {
  display: none;
}
/*Paginatio: End*/
