.ServiceHeadingText h1 {
  color: #28c23e;
}
.serviceDetailConainer {
 
  background-color: rgb(229, 250, 249);
  padding: 10px;
}
.serviceDetailConainer * {
  color: black;
}
.serviceDetailConainer span {
 
  line-height: 42px;
  font-size: 42px;
}
.serviceDetailConainer p {
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  text-justify: inter-word;
}
.gridServices img {
  height: 50px;
  width: 50px;
  color: #28c23e;
}
.gridServices h3{
  padding-top: 10px;
  font-size: large;
  font-weight: 800;
}
.gridServices {
  display: block;
  background-color: #fdfdfd;

  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
 
}
.gridServices *{
  color: black;
}
