/* Ssame heading from index :START */
.headerContainer {
  background: rgb(223, 202, 202) url(../images/indexBannerBG.png) no-repeat  center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.btnGetStarted {
  border-radius: 5px;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset,
    rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px,
    rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px,
    rgb(44 187 99 / 15%) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 80px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnGetStarted:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.02) rotate(-0.5deg);
  background-color: white;
  color: black;
  border: 1px solid #28c23e;
}

/* Ssame heading from index :END */




.navItemProjects a {
  font-size: medium;
  font-weight: bold;
  color: green;
}

.projectIteM img {
  padding-top: 10%;
  max-width: 90%;
  height: auto; 
  padding-left: 20%;
}
.btnGetStarted {
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
}

.projectItemS {
  padding-top: 50px;
  text-align: center;

  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.allProjectItems {
  padding: 10px;
  max-width: 100%;
}
.projectItemS h1 {
  margin-top: 10px;
}
.projectIteM img {
  opacity: 1;
}
.caseStudeyHeadings h2{
  color: #28c23e;
}

/* .projectIteM img:hover {
  opacity: 1;
  transform: scale(1.04) rotate(-1deg);
  cursor: pointer;
  -webkit-transition: transform 0.3s ease-in-out;
} */
.projectIteM:hover img  
{   opacity: .2;
  transform: scale(1.02) rotate(-1deg);
 
  -webkit-transition: transform 0.5s ease-in-out; 
 
}
.projectIteM:hover .clckForMoreDetail{
  color: #28c23e;
  transform: scale(1.3);
  -webkit-transition: transform 0.5s ease-in-out; 
}
.projectIteM:hover .projectName{
  display: none;
}
.projectName{
  color:#00b5f1;;
}
.projectIteM:hover .projectIteM-Desc{
  opacity: .2;

}
.clckForMoreDetail{
  display: none;
}
.projectIteM:hover .clckForMoreDetail{
  display: inline-block;

}
.clckForMoreDetail{
  cursor: pointer;
}


/* FORM STYle */
.TellUsAbout h1 {
  color: #28c23e;
}

.atchFileIcon {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.frmSigleField {
  padding-left: 5px;
  padding-top: 25px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.projetsSelection {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.5s;
  color: rgb(13, 13, 13);
}
.projetsSelection option {
  background: rgba(108, 151, 238, 0.679);
  border-radius: 10px;
}

.projetsSelection:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

label {
  font-size: 1.5rem;
  color: #1f1e1e;
}
.form_input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form_input:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
  background-color: #9b9b9b;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #100f0f;
}

.form_input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form_input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form_input:required,
.form_input:invalid {
  box-shadow: none;
}

.frmSigleField input {
  color: #100f0f;
}
.frmSigleField textarea {
  color: #100f0f;
}
.TellUsAbout {
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding: 12px;
  margin: 20px;
  margin-top: 130px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.formBody {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  min-height: 100vh;
  font-size: 1.5rem;

  position: relative;
}

.btnSubmitForm {
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.btnSubmitForm:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.capatchaGrid img {
  height: auto;
  max-width: 100%;
}
/* ////////////////// */
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
}
.projectIteM {
  margin: 0 0 20px 10px;
  padding: 0 0 10px 0;
  height: auto;
  background-color: #FFFF;
  /* position: relative; */
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%); 
  border-radius: 10px;

}
  
.projectIteM p{
  padding: 15px;
  
  text-align: justify;
  text-justify: inter-word;
}



/* FLIP START */

/* 
.flipcard {
  display: flex;
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800;
  
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}

.flipcard.flipped {
  transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}
.flipcard .face {
 
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flipcard .front {
 
  display: block; 
}
.flipcard.flipped .front {
  display:none; 
}
.flipcard .back {


  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  display:none;
}
.flipcard.flipped .back {
  display:block; 
} */




