.termsandcondition h1,
h4 {
  color: #28c23e;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  margin-bottom: 10px;
}

.termsandcondition p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.termsandcondition ul {
  padding-left: 70px;
  padding-right: 70px;
}

.termsandcondition {
  background-color: rgb(233, 240, 238);
}
