.headerContainer {
 background-color: #135382;;
  height: 850px;
  width: 100%;
}
.scoialMediaHeading{
  color: #e3e4e5;
  font-size: x-large;
}
@media only screen and (max-width: 769px) {
  .socialMeidaRow{
    visibility: hidden;
  }
}


.navItemContactUs a {
  font-size: medium;
  font-weight: bold;
  color: green;
}
.btnGetStarted {
  border-radius: 5px;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset,
    rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px,
    rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px,
    rgb(44 187 99 / 15%) 0 16px 32px;
  background-color: #e3e4e4;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 80px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnGetStarted:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: transparent;
  color: white;
}





.contactusTagline h2 {
  color: #28c23e;
  font-weight: bolder;
  font-size: 25px;
}
.contactusTagline p {
  font-size: 20px;
  font-weight: 100px;
  color: black;
}
.locationInfo {
  font-size: 17px;
}
