.firstDescription{
    margin-top: 20px;
    margin-left: 10px;
   margin-right: 10px;
    background-color: #FDFDFD;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
    padding-bottom: 10px;
}
.readyToDiscuss{
    padding-top: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: darkgrey;
}
.techStack{
    padding: 10px;
}
.techStockOne{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}
.techStockOne:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
    padding-bottom: 10px;
    cursor: pointer;
}
.techStockTwo{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}
.techStockTwo:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
    padding-bottom: 10px;
    cursor: pointer;
}
.ourServiceElement{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}
.ourServiceElement:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
    padding-bottom: 10px;
    cursor: pointer;
}
.headerContainer{
    background-color: rgb(233, 240, 238);
}
.headerContainer p{
font-size: 24px;
 font-weight: 300;
  color: #3d463e;
}
.headerContainer h1{
 
    font-size:2.1rem;
    line-height:60px;
}
.serviceHeaderText{
    padding-top: 10%;
    padding-left: 40px;
    padding-right: 20px;

}
.serviceHeaderimg img{
         padding-top: 10%;
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
   
}


.btnGetStarted{
   border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnGetStarted:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.ourServiceElement img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.navItemServices a{
        font-size:medium;
font-weight: bold;
color: green;
    }

.ourProcess  li {
    color: green;
    font-size: larger;
}
.ourProcess  p{
    color: black;
    
    font-size: medium;

}
.ourProcess h1{
    color: #28c23e;
    padding-bottom: 5px;
}
.ourServices h1,h5{
    color: #28c23e;
}
.ourServiceElement p{
   display: block;
   margin-left: 10px;
   margin-right: 10px;
   padding-top: 5px;
}