.Wholeproject{
    
    margin-left: 10px;
    margin-left: 10px;
}
.pageHeading h1{
    color: #28c23e;
    padding-bottom: 20px;
}
.projectSnaps{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.projectSnaps h2{
    color:  #28c23e;
}
.carousel{

    border-radius: 20px;    
}
.projectName{
    text-align: center;
   
}
@media only screen and (min-width: 601px) {
    .projectDetails {
      
 margin-left: 50px;
    }
  }
  
  @media only screen and (max-width: 571px) {
    .projectDetails {
     
        margin-left: 10px;
    }
  }
.projectDetails{
    
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}
.projectDetails h6{
    
    font-size: large;
    font-weight: bolder;
    color:black;
}
.text-right{
    
    padding-left: 5px;
}
.ProjectCategory{
    color: #000101;
    font-size: medium;
    text-align: left;

}
.spCategory{
    background-color: #00b5f1;
    border-radius: 20px;
    height: 35px;
    white-space:nowrap;
    padding-inline: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display:inline-block; 
    padding-top: 5px;
    color: white;
    
}
.myServices{
    padding-top: 20px;
    padding-bottom: 10px;
}
#IdustryVerticalId{
    padding-top: 20px;
}
.iVCategory{
    background-color: #00b5f1;
    border-radius: 20px;
    height: 35px;
    white-space:nowrap;
    padding-inline: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display:inline-block; 
    padding-top: 5px;
    color: white;
}
.myIdustryVertical{
    padding-top: 20px;
    padding-bottom: 10px;
}
#TechnologyUsedId{
    
    padding-top: 20px;
    padding-bottom: 10px;
}
.projectDetails h2{
color: #28c23e;
font-weight: 500;
}


/* Back arrow Button */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }