
.headerContainer {
  background: rgb(223, 202, 202) url(../images/indexBannerBG.png) no-repeat  center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  width: 100%;
}
.indexHeaderimg img
{
  padding-top: 20%;
  padding-left: 5%;
}

.indexRightIMG{
  height: 100%;
  max-width: 500px;
  width: 100%;
  height: auto;
}
.HeaderText p{
  font-size: 24px;
  font-weight: 300;

}



.HeaderText h1{
  color: #135382;
  font-weight: bolder;
}



.HeaderText h1, .HeaderText p {
  animation: 1s ease-out 0s 1 slideInLeft;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.btnGetStarted {
  border-radius: 5px;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset,
    rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px,
    rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px,
    rgb(44 187 99 / 15%) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnGetStarted:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.02) rotate(-0.5deg);
  background-color: white;
  color: black;
  border: 1px solid #28c23e;
}
.navItemHome a {
  font-size: medium;
  font-weight: bold;
  color: #28c23e;
}

.gridServices img {
  height: 50px;
  width: 50px;
}
.gridServices {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding: 12px;
  margin-left: 30px;
  margin-top: 10px;
}
.grdPricingModel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #00b5f1;
  border-right: 1px solid #00b5f1;
}
.BxFactsGrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 12px;
  margin-left: 30px;
  margin-top: 10px;
}
.BxFactsGrid h2 {
  color: #28c23e;
}
.BxFactsGrid h5 {
  font-weight: 200;
}

.whyChooseBxImg {
  width: 110%;
  height: auto;
  padding-top: 8%;
}

.whyAndProudGrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
}
/* .whyAndProudGrid:hover {
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  cursor: pointer;
} */

.gridServices:hover {
  transition: transform 0.2s;
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(8, 208, 31, 0.439);
}
.rowGrid {
  padding-left: 0px;
  padding-top: 20px;
}
.whyAndproudRow {
  align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(229, 250, 249);
}
.serviceshr {
  border: 2px solid rgb(6, 130, 22);
  border-radius: px;
  width: 220px;
  margin-top: 5px;
}
.projectItemS h1 {
  padding-top: 10px;
}

/* .w-100 {
  width: 100% !important;
  height: 75vh;
}  */

/* @media only screen and (max-width: 576px) {
  .carousel .carousel-inner .item{
     max-height: 100px;
  }
} */
.carousel {
  max-height: 500px;
  overflow: hidden;
}
carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.h1Ourservices {
  color: #28c23e;
  padding: 0 0%;
}

.h1Ourservices hr {
  width: 80%;
}

.fullServiceRow {
  padding-bottom: 40px;
}
.howToWorkWithUs {
  padding-top: 40px;
}
.industtriesexperties {
  margin-top: 40px;
}

.gridServices h3 {
  color: #28c23e;
}
.gridServices:hover h3 {
  color: #00b5f1;
}
.howToWorkWithUs img {
  height: 60px;
  width: 60px;
  margin-left: 40px;
}
.howToWorkWithUs h1,
h3 {
  color: #28c23e;
}

.industriesGrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  border-left: 1px solid #00b5f1;
  border-right: 1px solid #00b5f1;
  margin-bottom: 10px;
}
.industtriesexperties h1 {
  color: #28c23e;
}
/* .industtriesexperties h5 {
  /* color: #28c23e;
} */

.industtriesexperties img {
  width: 60px;
  height: 60px;
}

/* FORM STYle */
.TellUsAbout h1 {
  color: #28c23e;
}

.atchFileIcon {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.frmSigleField {
  padding-left: 5px;
  padding-top: 25px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.projetsSelection {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.5s;
  color: rgb(13, 13, 13);
}
.projetsSelection option {
  background: rgba(108, 151, 238, 0.679);
  border-radius: 10px;
}

.projetsSelection:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

label {
  font-size: 1.5rem;
  color: #1f1e1e;
}
.form_input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form_input:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
  background-color: #9b9b9b;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #100f0f;
}

.form_input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form_input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form_input:required,
.form_input:invalid {
  box-shadow: none;
}

.frmSigleField input {
  color: #100f0f;
}
.frmSigleField textarea {
  color: #100f0f;
}
.TellUsAbout {
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(47 47 47 / 40%);
  padding: 12px;
  margin: 20px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.formBody {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  min-height: 100vh;
  font-size: 1.5rem;

  position: relative;
}

.btnSubmitForm {
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  background-color: #28c23e;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.btnSubmitForm:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.capatchaGrid img {
  height: auto;
  max-width: 100%;
}
.atchFileIcon:hover {
  cursor: pointer;
}
body p {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 5px;
  padding-right: 5px;
}
