.privacypolicy h1, h4{
    color: #28c23e;
    margin-left: 20px;
    margin-right: 20px;

}

.privacypolicy p{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}